name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print Debug Info
        run: |
          echo "当前标签: ${{ github.ref_name }}"
          ls -la

      - name: Create ZIP
        run: |
          ZIP_NAME="dongliTV-${{ github.ref_name }}.zip"
          echo "正在创建压缩包: $ZIP_NAME"
          git archive -v --format=zip HEAD -o "$ZIP_NAME"
          ls -lh "$ZIP_NAME"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            dongliTV-${{ github.ref_name }}.zip